django==1.11.7
django-suit
djangorestframework
six

psycopg2
django-compressor
sorl-thumbnail
-e git+https://github.com/chriscauley/Django-Crop-Override-Field.git#egg=django-crop-override-field
pillow

django-annoying

todoist-python

markdown
html2text
