django
django-suit

psycopg2
django-compressor
sorl-thumbnail
-e git+https://github.com/chriscauley/Django-Crop-Override-Field.git#egg=django-crop-override-field
pillow

django-annoying

python-todoist

markdown
html2text
