<html>
  <head>
    <title>Idle Hands</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link href="/static/ih/less/base.less" rel="stylesheet/less" type="text/css"></link>
    <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/2.7.2/less.min.js"></script>
    <link type="image/x-icon" rel="shortcut icon" href="/static/favicon.ico" />
  </head>
  <div id="main">
    {% block main %}
    <div id="content"></div>
    {% endblock %}
  </div>
  <link href="/static/unrest/.dist/unrest-built.css" rel="stylesheet"></link>
  <link href="/static/unrest/.dist/admin-built.css" rel="stylesheet"></link>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <div style="display: none">
    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC 3.0 BY</a>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/svg.js/2.6.4/svg.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/riot/3.10.1/riot+compiler.min.js"></script>
  <script src="/static/unrest/.dist/unrest-built.js"></script>
  <script src="/static/unrest/.dist/canvas-built.js"></script>
  <script src="/static/unrest/.dist/admin-built.js"></script>
  <script src="/static/unrest/contrib/controller.js"></script>
  <script>uR.auth_enabled = true;</script>
  <script src="/static/ih/main.js"></script>
  <script src="/static/ih/icon.js"></script>
  <script type="riot/tag" src="/static/ih/task.tag"></script>
  <script src="/static/ih/router.js"></script>
</html>