{% load compress static %}
<html>
  <head>
    <title>Idle Hands</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
    <link href="{% static "ih-built.css" %}" rel="stylesheet" type="text/css" />
    <link type="image/x-icon" rel="shortcut icon" href="{% static "favicon.ico" %}" />
  </head>
  {% csrf_token %}
  <div id="main">
    {% block main %}
    <div id="content"></div>
    {% endblock %}
  </div>
  <link href="//beta.unrest.io/unrest-built.css" rel="stylesheet"></link>
  <link href="//beta.unrest.io/admin-built.css" rel="stylesheet"></link>
  <div style="display: none">
    Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a>
    from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by
    <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC 3.0 BY</a>
  </div>
  <script src="//beta.unrest.io/vendor-built.js?{% now "Hi" %}"></script>
  <script src="//beta.unrest.io/unrest_full-built.js?{% now "Hi" %}"></script>
  {% if settings.DEBUG %}
  <link href="//beta.unrest.io/uc/uc-built.css" rel="stylesheet"></link>
  <script src="//beta.unrest.io/uc/vendor-built.js"></script>
  <script src="//beta.unrest.io/uc/uc-built.js"></script>
  <script src="{% static "ih_test-built.js" %}"></script>
  <script>
    var KLOGGER_SELECTOR="#main";
    var DUMMY_USERS = {{ DUMMY_USERS|safe }};
  </script>
  {% endif %}
  <script src="{% static "ih-built.js" %}"></script>
</html>
